pip==22.1.2
pycocotools==2.0.2
gcc7==0.0.7
opencv-python-headless==4.5.2.52
streamlit==1.10.0
torch==1.8.1
torchvision==0.9.1
torchaudio===0.8.1
git+https://github.com/facebookresearch/detectron2.git#egg=some_egg
